
.beforefooter{
    /* display: flex; */
    /* background-color: aqua; */
    padding:0px;
    white-space: nowrap;
    font-size: 0px;
    max-width: 100%;
    /* display: grid; */
}
.beforefoot{
    padding: 0px;
    /* background-color: bisque; */
    white-space: nowrap;
}
.beforefooter img{
    height: 200px;
    padding: 0px;
    margin-right: 0px;
    width: calc(100% /6);
    object-fit: cover;
    font-size: 0px;
}
